/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f0f0f0;
}

header {
    background-color: #2b2b2b;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
}

/* Стили для раздела с описанием */
#description p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
}

/* Стили для списка актёров */
#actors ul {
    list-style-type: none;
    padding: 0;
}

#actors li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Стили для рейтинга */
#rating p {
    font-size: 18px;
    margin-top: 10px;
}

/* Стили для изображения */
footer {
    text-align: center;
    margin-top: 30px;
}

footer img {
    max-width: 100%;
    height: auto;
}

/* Адаптивность */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    #description p,
    #actors li,
    #rating p {
        font-size: 16px;
    }
}
